# RapidAPI - MatchStat Tennis (ATP/WTA/ITF)
RAPIDAPI_KEY=
RAPIDAPI_HOST=tennis-api-atp-wta-itf.p.rapidapi.com
TENNIS_API_BASE_URL=https://tennis-api-atp-wta-itf.p.rapidapi.com/tennis/v2

# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
